
/* .divCard{
background-image: url("../../img//fondo-card-pce-1.svg");
background-repeat: no-repeat, repeat;
background-position: right;
} */
.flechaVector{
    padding-left: 10px;
}
.linkPCE{
font-weight: 800;
color: #212353;
}