.dRegistroPCE{
    text-align: center;
}
.elTituloRegistro{
    font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
text-align: center;
}
.btnRegistro1{
    text-align: center;
}