@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body{
    background-color: #EFF3FC;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img{
    max-width: 100%;
}

.container_main{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }